@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap");

/* font-family: 'Bonheur Royale', cursive; */

body {
  background-image: url("/assets/images/background-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
