html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  letter-spacing: 1px;
}

body {
  background-color: black;
  color: gold;
}

.heading {
  text-align: center;
  font-size: 15vw;
}

.game-icons {
  text-align: center;
  font-size: 20vw;
  margin-top: 0.5em;
}

.fa-hand-rock {
  margin-right: 5vw;
}

.fa-hand-paper {
  margin-right: 5vw;
}
